<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>My profile Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>


    <section class="profile-page">
        <% if (profile) { %>
        <h1>Hi <%= profile.name %>,</h1>

        <section class="my-profile">

            <img src=<%= profile.image %> alt=<%= profile.name %> >

            <ul label="About Me">
                
                <li><%= profile.age %></li>
                <li><%= profile.location %></li>
            </ul>
            
            <ol label="Genres">
                <% profile.genres.forEach(genre => {%>
                    <li><%= genre %></li>
                <% }) %>
            </ol>

            <ol label="Festivals">
                <% profile.favfestivals.forEach(festival => {%>
                    <li><%= festival %></li>
                <% }) %>
            </ol>

        </section>
        <% } %>

        <% if (matches) { %>
        <h2>My matches:</h2>
        <Section>
            <% matches.forEach(match => { %>
            <Article>
                <img src=<%= match.image %> alt=<%= match.name %>/>
                <p><%= match.name %></p>
                <form action="/removeFromMatches" method="post" class="button-container">
                    <button name="removeMatchButton" type="submit" value="<%= match.id %>" >Delete</button>
                </form>
            </Article>
            <% }) %>
        </Section>
        <% } %>

        
    </section>


    <%- include('includes/footer.ejs'); -%>
</body>