<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">    
    <title>My profile Matching Application</title>
</head>

<body>
    <%- include('includes/header'); -%>

    <section class="profile-page">
        <% if (profile) { %>
        <h1>Hi <%= profile.name %>,</h1>
        <img src="/images/editing.png" class="edit-profile" alt="edit-profile">

        <section class="my-profile">

            <img src=<%= profile.image %> alt=<%= profile.name %> alt ="profile-image">

            <div class="my-profile-metadata">
                <p><strong><%= profile.location %></strong>, <%= profile.age %></p>
                <p><strong>Bio: </strong>"<%= profile.bio %>"</p>
                <p><strong>Genres:</strong> <%= profile.favgenres.join(", ") %></p>
                <p><strong>Festivals:</strong> <%= profile.favfestivals.join(", ") %></p>
                <div class="profile-track">
                    <img src="/images/playbutton.png" alt="playbutton">
                    <p><strong><%= profile.favtrack %></strong></p>
                </div>
            </div>
        </section>
        <% } %>

        <% if (matches) { %>
        <h2>My matches:</h2>
        <Section class="my-matches-container">
            <% matches.forEach(match => { %>
            <Article>
                <img src=<%= match.image %> alt=<%= match.name %>/>
                <h3><%= match.name %></h3>
                <form action="/profile/removeFromMatches" method="post" class="button-container-profile">
                    <button name="removeMatchButton" type="submit" value="<%= match.id %>" >Delete</button>
                </form>
            </Article>
            <% }) %>
        </Section>
        <% } %>
    </section>

    <%- include('includes/footer.ejs'); -%>
</body>